*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helventica neue';
}
html,

body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.Navbar{
  background-color: rgb(187, 3, 3);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

