*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helventica neue';
}
html,

body{
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
  
}

h1{
  background-color: gold;
  width: fit-content;
  font-size: large;
  padding: 10px 70px;
  margin: 20px;
}