*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helventica neue';
}
html,

body{
  height: 100%;
  width: 100%;
}

button{
  padding-left: 2;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 100px;
  background-color: aqua;
}

input{
  padding-left: 2;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 100px;
  background-color: aqua;
}