* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #2a8f88;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.navbar-logo {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navbar-links li {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.navbar-links li:hover {
  opacity: 0.8;
}
