*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helventica neue';
}
html,

body{
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
  margin-top: auto;
  text-underline-offset: initial;
  padding: auto;
}

.nav{
  width: 100%;
  height: 60px;
  background-color: #09bdbd;
  display: flex;
  justify-content: space-between; /* space between logo and menu */
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav a{
  text-decoration: none;
  color: #100404;
  font-size: 16px;
  margin: 0 15px;
  transition: 0.3s;
}